@page "/eventos/detalhes/{id}"
@inherits DetailsEventPage

<MudText Typo="Typo.h3">Detalhes do Evento</MudText>

@if (IsBusy)
{
    <MudPaper Class="pa-8 mt-4">
        <MudSkeleton Height="55px"></MudSkeleton>
        <MudSkeleton Height="110px"></MudSkeleton>
        <MudSkeleton Height="55px"></MudSkeleton>
        <MudSkeleton Height="110px"></MudSkeleton>
        <MudSkeleton Height="55px"></MudSkeleton>
    </MudPaper>
}
else
{

    <div class="d-flex justify-end">
    <MudButton 
        Variant="Variant.Filled"
        Color="Color.Primary"
        StartIcon="@Icons.Material.Outlined.ArrowBack"
        Href="/convites">Voltar
    </MudButton>
    </div>
    <MudPaper Class="pa-8 mt-4">
        <EditForm Model="@InputModel" OnValidSubmit="OnValidSubmitAsync">
            <DataAnnotationsValidator></DataAnnotationsValidator>

            <MudTextField 
                T="string" 
                Label="Título"
                Disabled="true"
                HelperText="Campo obrigatório"
                @bind-Value="InputModel.Title"
                For="@(() => InputModel.Title)"
                Style="color: #3CB371;">
            </MudTextField>

            <MudTextField 
                T="string" 
                Label="Descrição"
                Class="mt-4"
                Disabled="true"
                Lines="5"
                HelperText="Campo obrigatório"
                @bind-Value="InputModel.Description"
                For="@(() => InputModel.Description)"
                Style="color: #3CB371;">
            </MudTextField>

            <MudDatePicker 
                Label="Quando?"
                Disabled="true"
                @bind-Date="@InputModel.StartDate"
                HelperText="Selecione a data que o evento será iniciado?"
                Class="mt-4"
                Style="color: #3CB371;">
            </MudDatePicker>

            <MudTimePicker 
                Label="Hora de Início"
                Disabled="true"
                @bind-Time="@InputModel.StartTime"
                HelperText="Selecione o horário de início"
                Class="mt-4"
                Style="color: #3CB371;" />

            <MudDatePicker 
                Label="Até?"
                Disabled="true"
                @bind-Date="@InputModel.EndDate"
                HelperText="Selecione a data que o evento será finalizado?"
                Class="mt-4"
                Style="color: #3CB371;">
            </MudDatePicker>

            <MudTimePicker Label="Hora de Início"
                Disabled="true"
                @bind-Time="@InputModel.EndTime"
                HelperText="Selecione o horário do fim"
                Class="mt-4"
                Style="color: #3CB371;" />

            <MudSelect 
                T="bool"
                Class="mt-4"
                ReadOnly="true"
                Disabled="true"
                AnchorOrigin="Origin.BottomCenter"
                Label="Está valendo?"
                @bind-Value="InputModel.IsActive">
                    <MudSelectItem T="bool" Value="true">
                        <span style="color: #3CB371">Sim</span>                       
                    </MudSelectItem>
                    <MudSelectItem T="bool" Value="false">
                        <span style="color: #3CB371">Não</span>                        
                    </MudSelectItem>
            </MudSelect>            
        </EditForm>
    </MudPaper>
}

@code {
}